/* deepdive basic page */
.deepdive {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.deepdive_container {
  flex: 1;
  background: transparent;
  margin-right: 1rem;
  position: relative;
  height: 85vh;
  overflow-y: auto;
}
.deepdive_container .row_container {
  background: var(--text-white);
  border: 1px solid var(--text-white);
  border-radius: 15px;
  padding: 0.2rem 2rem;
  margin: 0 0 2rem 0;
}
.deepdive_upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 30rem;
  transition: background-color 0.3s;
}
.deepdive_upload input {
  padding-left: 0;
  font-size: 1rem;
  border: none;
  outline: none;
}
.animatedSVG {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  cursor: pointer;
  border: 1px solid var(--text-white);
  border-radius: 10px;
  transition: 0.5s;
}
.animatedSVG:hover {
  background-color: var(--text-main);
  border: 1px solid var(--text-main);
  color: var(--text-white);
}
.dragging {
  background-color: #f3c2b0;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}
p {
  white-space: pre-line;
}
.labelColumn,
.otherColumns,
.labelColumnTH,
.otherColumnsTH {
  font-size: 14px;
  font-weight: 500;
}
.labelColumn,
.labelColumnTH {
  width: 4%;
  text-align: left;
}
.otherColumns,
.otherColumnsTH {
  width: 1%;
  text-align: center;
}
.table {
  border-collapse: collapse;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.table thead {
  height: 4rem;
}
.table tbody {
  height: 3rem;
}
.table svg {
  margin-top: 0.2rem;
}
.otherColumnsTH {
  border-bottom: 2px solid var(--text-black);
}
.headerContainer {
  display: flex;
  align-items: center;
}
.headerContainer svg {
  margin-right: 1rem;
}
