/* deepdive basic page */
.deepdive {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.deepdive_container {
  flex: 1;
  background: transparent;
  margin-right: 1rem;
  position: relative;
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  height: 85vh;
  overflow-y: auto;
  padding: 0 2rem;
}
.deepdive_container .row_container {
  background: var(--text-white);
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  padding: 0.2rem 2rem;
  margin: 0 0 2rem 0;
}
.deepdive_upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 20rem;
  transition: background-color 0.3s;
}
.deepdive_upload input {
  padding-left: 0;
  font-size: 1rem;
  border: none;
  outline: none;
}
.deepdive svg {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  cursor: pointer;
  border: 1px solid var(--text-white);
  border-radius: 10px;
  transition: 0.5s;
}
.deepdive svg:hover {
  background-color: var(--text-main);
  border: 1px solid var(--text-main);
  color: var(--text-white);
}
.dragging {
  background-color: #f3c2b0;
}
p {
  white-space: pre-line;
}
.labelColumn {
  width: 16%;
  text-align: left;
}
.otherColumns {
  width: 8%;
  text-align: center;
}
