/* snapshot premium page */
.snapshot {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.snapshot_container {
  flex: 1;
  background: var(--text-black);
  background: transparent;
  border-radius: 4px;
  margin-right: 1rem;
  position: relative;
}
.top_details,
.left_details,
.mid_details,
.right_details,
.bot_details {
  flex: 1;
  background: var(--text-white);
  background: transparent;
  border-radius: 4px;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  position: relative;
}
.top_details p,
.left_details p,
.mid_details p,
.right_details p,
.bot_details p {
  margin: 0;
  font-size: 0.9em;
}
.refresh_details p {
  font-size: 0.65rem;
  padding: 0 0 1rem 0;
  color: #aaaaaa;
}

/* layout */
.top_details,
.bot_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.left_details,
.right_details {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mid_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.income_details {
  margin-bottom: 0.8rem;
}
.savings_details {
  display: flex;
  flex-direction: row;
}
.bot_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.mid_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.couple_image img {
  width: 10rem;
  height: auto;
}
.name_details {
  display: flex;
  flex-direction: row;
}
.refresh_details {
  text-align: center;
}

/* h5 design */
h5 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  text-align: center;
}
.name_details h5 {
  margin: 0 1.2rem;
}
.left_mid_container,
.right_mid_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 12rem;
}
.year_details {
  text-align: center;
  margin-left: 1.1rem;
  color: var(--text-green);
  border-bottom: 2px solid #d9d9d9;
  width: 7rem;
}
.final_year_details {
  text-align: center;
  color: var(--text-green);
  width: 8rem;
}
.right_year_details {
  text-align: center;
  margin-right: 1.1rem;
  color: var(--text-green);
  border-bottom: 2px solid #d9d9d9;
  width: 7rem;
}
.right_final_year_details {
  text-align: center;
  color: var(--text-green);
  width: 8rem;
}

/* individual boxes */
.smallbox {
  width: 8rem;
  margin: 0.2rem 0.6rem;
  padding: 0.15rem 0.6rem;
  text-align: center;
  border-radius: 4px;
  position: relative;
}
.greenbox {
  color: var(--text-green);
  background-color: rgba(47, 199, 122, 0.4);
  border: 2px solid var(--text-green);
}
.redbox {
  color: var(--text-red);
  background-color: rgba(222, 34, 66, 0.4);
  border: 2px solid var(--text-red);
}

/* lines */
.left_details .left_hori ::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1.8rem;
  height: 2px;
  width: 1.2rem;
  background-color: #d9d9d9;
}
.left_details .left_vert ::after {
  content: "";
  position: absolute;
  top: -65%;
  right: -1.8rem;
  height: 235%;
  width: 2px;
  background-color: #d9d9d9;
}
.left_details .left_hori2 ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 19.7rem;
  height: 2px;
  width: 1.2rem;
  background-color: #d9d9d9;
}
.left_details .left_vert2 ::after {
  content: "";
  position: absolute;
  top: 28%;
  right: 9rem;
  height: 49%;
  width: 2px;
  background-color: #d9d9d9;
}
.right_details .right_hori ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.8rem;
  height: 2px;
  width: 1.2rem;
  background-color: #d9d9d9;
}
.right_details .right_vert ::after {
  content: "";
  position: absolute;
  top: -65%;
  left: -1.8rem;
  height: 235%;
  width: 2px;
  background-color: #d9d9d9;
}
.right_details .right_hori2 ::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 19.7rem;
  height: 2px;
  width: 1.2rem;
  background-color: #d9d9d9;
}
.right_details .right_vert2 ::after {
  content: "";
  position: absolute;
  top: 28%;
  left: 9rem;
  height: 49%;
  width: 2px;
  background-color: #d9d9d9;
}
.top_details .top_hori ::before {
  content: "";
  position: absolute;
  top: -70%;
  right: 8rem;
  height: 2px;
  width: 27rem;
  background-color: #d9d9d9;
}
.top_details .top_hori ::after {
  content: "";
  position: absolute;
  top: -70%;
  left: 8rem;
  height: 2px;
  width: 27rem;
  background-color: #d9d9d9;
}
.top_details .top_vert ::after {
  content: "";
  position: absolute;
  top: -70%;
  right: 24.3rem;
  height: 235%;
  width: 2px;
  background-color: #d9d9d9;
}
.top_details .top_vert2 ::after {
  content: "";
  position: absolute;
  top: -70%;
  left: 24.3rem;
  height: 235%;
  width: 2px;
  background-color: #d9d9d9;
}
