/* welcome page */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.welcome_nav {
  list-style: none;
  display: flex;
}
.welcome_nav_link {
  display: flex;
}
.welcome_nav_link svg {
  min-width: 15rem;
}
.welcome_link_text {
  margin-left: 1rem;
}
