/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --error: #e7195a;
  /* new */
  font-size: 14px;
  font-family: "Poppins";
  --text-black: #000000;
  --text-secondary: #ffffff;
  --text-tertiary: #f57d20;
  --bg-primary: #ffffff;
  --bg-secondary: #f57d20;
  --transition-speed: 600ms;
}

body {
  background: #f1f1f1;
  margin: 0;
}
/* navbar horizontal */
header {
  background-color: var(--bg-primary);
}
header .container {
  max-width: 1800px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
header .container > * {
  display: inline-block;
  margin: 0 10px;
}
header a {
  color: var(--text-black);
  text-decoration: none;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  margin-left: 20px;
}
header nav button {
  background: var(--bg-primary);
  color: var(--bg-secondary);
  border: 2px solid var(--bg-secondary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
header span {
  margin: 0.4rem 0;
  width: 10rem;
  height: 4.75rem;
  line-height: 4.75rem;
  display: inline-block;
  transition: var(--transition-speed);
}
.nav-welc {
  border-top: 5px solid #ff7e07;
  border-radius: 4px;
}
.nav-welc:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #ff7e07;
  color: var(--text-secondary);
  border-radius: 10px;
}
.nav-snap {
  border-top: 5px solid #2dc5b8;
  border-radius: 4px;
}
.nav-snap:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #2dc5b8;
  color: var(--text-secondary);
  border-radius: 10px;
}
.nav-deep {
  border-top: 5px solid #ff3366;
  border-radius: 4px;
}
.nav-deep:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #ff3366;
  color: var(--text-secondary);
  border-radius: 10px;
}
.nav-goal {
  border-top: 5px solid #3abeff;
  border-radius: 4px;
}
.nav-goal:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #3abeff;
  color: var(--text-secondary);
  border-radius: 10px;
}
.nav-love {
  border-top: 5px solid #f9c710;
  border-radius: 4px;
}
.nav-love:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #f9c710;
  color: var(--text-secondary);
  border-radius: 10px;
}
.nav-risk {
  border-top: 5px solid #000000;
  border-radius: 4px;
}
.nav-risk:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #000000;
  color: var(--text-secondary);
  border-radius: 10px;
}
header nav span {
  width: auto;
  display: inline-block;
}
.pages {
  max-width: 1600px;
  padding: 20px;
  margin: 0 auto;
}

/* home page */
.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.financial-details,
.personal-details {
  flex: 1;
  background: #fff;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.financial-details h4,
.personal-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--bg-secondary);
}
.financial-details p,
.personal-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.financial-details span,
.personal-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.home-container {
  flex: 1;
  background: #fff;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
}

/* profile page */
.financial-form {
  flex: 1;
  background: #fff;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
}
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--bg-secondary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* auth forms */
.signup,
.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* login */
.button-container {
  display: block;
  margin-bottom: 10px;
}

/* chatbot */
button {
  background: var(--bg-secondary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/* sign in with google */
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

/* navbar vertical */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: width 600ms ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 95%;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-black);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  border-radius: 10px;
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 2rem 0 1.5rem;
}
.logo {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 2rem;
  letter-spacing: 0.1ch;
  width: 100%;
  transition: background 600ms ease;
}
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.navbar:hover .logo svg {
  margin-right: 5rem;
  transform: rotateY(360deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 18rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 13rem;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
}
