{
  "type": "REPLACE THIS",
  "project_id": "REPLACE THIS",
  "private_key_id": "REPLACE THIS",
  "private_key": "REPLACE THIS",
  "client_email": "REPLACE THIS",
  "client_id": "REPLACE THIS",
  "auth_uri": "REPLACE THIS",
  "token_uri": "REPLACE THIS",
  "auth_provider_x509_cert_url": "REPLACE THIS",
  "client_x509_cert_url": "REPLACE THIS",
  "universe_domain": "REPLACE THIS"
}
