/* navbar horizontal  */
header {
  background-color: var(--text-white);
  border-bottom: 2px solid var(--text-grey);
  display: flex;
  padding-left: 7rem;
  justify-content: space-between;
  align-items: center;
}
header .container {
  text-align: center;
}
header .user_active {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.user_active span {
  margin-right: 3rem;
}
header .container > *:last-child {
  margin-right: 1rem;
}
header a {
  color: var(--text-black);
}
header nav a {
  margin-left: 20px;
}
header nav button,
.button_link {
  background: var(--text-white);
  color: var(--text-main);
  border: 2px solid var(--text-main);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 0 1rem;
}
.guest_span {
  background: var(--text-white);
  color: var(--text-main);
  border: 2px solid var(--text-main);
  border-radius: 4px;
  font-size: 1rem;
  margin: 0;
  padding: 0 1rem;
}
header span {
  width: 10rem;
  line-height: 4.75rem;
  display: inline-block;
  transition: var(--transition-speed);
}
.nav_welc {
  border-top: 5px solid var(--text-main);
  border-radius: 4px;
}
.nav_welc:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--text-main);
  color: var(--text-white);
  border-radius: 10px;
}
.nav_snap {
  border-top: 5px solid #2dc5b8;
  border-radius: 4px;
}
.nav_snap:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #2dc5b8;
  color: var(--text-white);
  border-radius: 10px;
}
.nav_deep {
  border-top: 5px solid #ff3366;
  border-radius: 4px;
}
.nav_deep:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #ff3366;
  color: var(--text-white);
  border-radius: 10px;
}
.nav_goal {
  border-top: 5px solid #3abeff;
  border-radius: 4px;
}
.nav_goal:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #3abeff;
  color: var(--text-white);
  border-radius: 10px;
}
.nav_love {
  border-top: 5px solid #f9c710;
  border-radius: 4px;
}
.nav_love:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #f9c710;
  color: var(--text-white);
  border-radius: 10px;
}
.nav_risk {
  border-top: 5px solid #000000;
  border-radius: 4px;
}
.nav_risk:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #000000;
  color: var(--text-white);
  border-radius: 10px;
}
.nav_myinfo {
  border-top: 5px solid #ff0000;
  border-radius: 4px;
}
.nav_myinfo:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #ff0000;
  color: var(--text-white);
  border-radius: 10px;
}
header nav span {
  width: auto;
}
.nav_right svg {
  border: 2px solid var(--text-grey);
  border-radius: 4px;
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
}
.nav_right .share_button svg {
  border: 2px solid #4774d5;
  border-radius: 4px;
  background-color: #4774d5;
  color: var(--text-white);
}
.nav_right_nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}
