# dependencies
/node_modules

# firebase config
/config/firebase-config.js
/config/serviceAccountKey.json

# dialogflow config
/chatbot/serviceAccountKey.json

# assets
/assets

# tests
/test

# misc
.env
ngrok