/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --error: #e7195a;
  font-size: 16px;
  font-family: "Poppins";
  --text-black: #000000;
  --text-white: #ffffff;
  --text-grey: #f1f1f1;
  --text-main: #f57d20;
  --transition-speed: 600ms;
}
body {
  background: var(--text-grey);
  margin: 0;
  background-image: radial-gradient(
    circle at center,
    #cdcdcd 0.1rem,
    transparent 0
  );
  background-size: 1.5rem 1.5rem;
  background-repeat: round;
}
label {
  display: block;
  font-weight: 500;
}
input {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--text-main);
  border: 0;
  color: var(--text-white);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
