/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --error: #e7195a;
  font-size: 16px;
  font-family: "Poppins";
  --text-black: #000000;
  --text-white: #ffffff;
  --text-grey: #f1f1f1;
  --text-main: #f57d20;
  --transition-speed: 600ms;
}
body {
  background: var(--text-grey);
  margin: 0;
  background-image: radial-gradient(
    circle at center,
    #cdcdcd 0.1rem,
    transparent 0
  );
  background-size: 1.5rem 1.5rem;
  background-repeat: round;
}

/* navbar horizontal */
header {
  background-color: var(--text-white);
  border-bottom: 2px solid var(--text-grey);
  display: flex;
  padding-left: 7rem;
  justify-content: space-between;
  align-items: center;
}
header .container {
  text-align: center;
}
header .container > *:last-child {
  margin-right: 1rem;
}
header a {
  color: var(--text-black);
  text-decoration: none;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  margin-left: 20px;
}
header nav button,
.button-link {
  background: var(--text-white);
  color: var(--text-main);
  border: 2px solid var(--text-main);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
header span {
  margin: 0.4rem 0;
  width: 10rem;
  height: 4.75rem;
  line-height: 4.75rem;
  display: inline-block;
  transition: var(--transition-speed);
}
.nav-welc {
  border-top: 5px solid var(--text-main);
  border-radius: 4px;
}
.nav-welc:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--text-main);
  color: var(--text-white);
  border-radius: 10px;
}
.nav-snap {
  border-top: 5px solid #2dc5b8;
  border-radius: 4px;
}
.nav-snap:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #2dc5b8;
  color: var(--text-white);
  border-radius: 10px;
}
.nav-deep {
  border-top: 5px solid #ff3366;
  border-radius: 4px;
}
.nav-deep:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #ff3366;
  color: var(--text-white);
  border-radius: 10px;
}
.nav-goal {
  border-top: 5px solid #3abeff;
  border-radius: 4px;
}
.nav-goal:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #3abeff;
  color: var(--text-white);
  border-radius: 10px;
}
.nav-love {
  border-top: 5px solid #f9c710;
  border-radius: 4px;
}
.nav-love:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #f9c710;
  color: var(--text-white);
  border-radius: 10px;
}
.nav-risk {
  border-top: 5px solid #000000;
  border-radius: 4px;
}
.nav-risk:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #000000;
  color: var(--text-white);
  border-radius: 10px;
}
header nav span {
  width: auto;
  display: inline-block;
}
.pages {
  max-width: 1600px;
  padding: 20px;
  margin: 0 auto;
}
.nav-right {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  /* margin-top: 1rem; */
}
.nav-right img {
  margin: 0;
  padding: 0;
  height: 2rem;
  padding: 0.2rem;
  margin-left: 1rem;
  border: 2px transparent;
  border-radius: 4px;
}
.nav-right svg {
  border: 2px solid var(--text-grey);
  border-radius: 4px;
  padding: 0.4rem;
  margin: 0;
  width: 2rem;
  height: 2rem;
}
.nav-right .share-button svg {
  border: 2px solid #4774d5;
  border-radius: 4px;
  background-color: #4774d5;
  color: var(--text-white);
  padding: 0.4rem;
  margin: 0;
  width: 2rem;
  height: 2rem;
}
.nav-right-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

/* home page */
.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.financial-details,
.personal-details {
  flex: 1;
  background: var(--text-white);
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.financial-details h4,
.personal-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--text-main);
}
.financial-details p,
.personal-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.financial-details span,
.personal-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--text-white);
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.home-container {
  flex: 1;
  background: transparent;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}

/* profile page */
.financial-form {
  flex: 1;
  background: var(--text-white);
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
}
label {
  display: block;
  font-weight: 500;
}
input {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--text-main);
  border: 0;
  color: var(--text-white);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar vertical */
.navbar {
  position: fixed;
  background-color: var(--text-white);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 2px solid var(--text-grey);
  transition: width 600ms ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 95%;
}
.nav-item:last-child {
  margin-top: auto;
  margin-bottom: 1rem;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-black);
  text-decoration: none;
  transition: var(--transition-speed);
}
.nav-link-logo {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-black);
  text-decoration: none;
  transition: var(--transition-speed);
}
.nav-link2 {
  color: #a7a9c0;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--text-main);
  color: var(--text-white);
  border-radius: 10px;
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 2rem 0 1.5rem;
}
.nav-link-logo svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 2rem 0 1.5rem;
}
.logo {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1ch;
  width: 100%;
  transition: background 600ms ease;
}
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.navbar:hover .logo svg {
  margin-right: 5rem;
  transform: rotateY(360deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 18rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo {
    border-bottom: 1px solid var(--text-grey);
  }
  .navbar:hover .logo svg {
    margin-left: 13rem;
  }
  .navbar:hover .logo-text {
    color: var(--text-black);
    left: 0px;
  }
}

/* welcome page */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.welcome-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.welcome-nav-item {
  width: 100%;
}
.welcome-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-black);
  text-decoration: none;
  transition: var(--transition-speed);
}
.welcome-nav-link svg {
  width: 10rem;
  min-width: 15rem;
  margin-right: 20px;
  /* margin: 0 0 0 0; */
}
.welcome-link-text {
  margin-left: 1rem;
}
